node_modules/
.env
.DS_Store
dist/
build/
frontend/.cache/
backend/node_modules/
.vscode/
npm-debug.log
package-lock.json
yarn.lock
node_modules/
.env
*.log
.DS_Store
backend/node_modules/
backend/.env

